# Core libraries
numpy
pandas

# Visualization
matplotlib
seaborn

# Image processing
opencv-python
Pillow

# Progress monitoring
tqdm

# Machine learning
scikit-learn

# Data augmentation
albumentations

# Configuration management
pyyaml

# Deep learning and YOLOv8
ultralytics

# Jupyter Notebook support (optional but recommended for EDA)
jupyter
ipykernel
imblearn

# linter code formatter etc
ruff
black
mypy 
pytest
black[jupyter]
mypy
pylint
nbqa
pre-commit

# Type stubs for better type checking
pandas-stubs
types-PyYAML
types-tqdm
types-seaborn